[submodule "packages/haskell-mode"]
	path = packages/haskell-mode
	url = git://github.com/haskell/haskell-mode.git
[submodule "packages/god-mode"]
	path = packages/god-mode
	url = git://github.com/chrisdone/god-mode.git
[submodule "packages/ace-jump-mode"]
	path = packages/ace-jump-mode
	url = git://github.com/winterTTr/ace-jump-mode.git
[submodule "packages/undo-tree"]
	path = packages/undo-tree
	url = git://github.com/emacsmirror/undo-tree.git
[submodule "packages/smex"]
	path = packages/smex
	url = git://github.com/nonsequitur/smex.git
[submodule "packages/color-theme-solarized"]
	path = packages/color-theme-solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
[submodule "packages/scala-mode2"]
	path = packages/scala-mode2
	url = git://github.com/hvesalai/scala-mode2.git
[submodule "packages/idris-mode"]
	path = packages/idris-mode
	url = git://github.com/idris-hackers/idris-mode.git
[submodule "packages/rust-mode"]
	path = packages/rust-mode
	url = git@github.com:rust-lang/rust-mode
[submodule "packages/tuareg"]
	path = packages/tuareg
	url = git://github.com/ocaml/tuareg.git
[submodule "packages/company-coq"]
	path = packages/company-coq
	url = git@github.com:cpitclaudel/company-coq
[submodule "packages/company"]
	path = packages/company
	url = git@github.com:company-mode/company-mode
[submodule "packages/company-math"]
	path = packages/company-math
	url = git@github.com:vspinu/company-math
[submodule "packages/math-symbol-lists"]
	path = packages/math-symbol-lists
	url = git@github.com:vspinu/math-symbol-lists
[submodule "packages/dash"]
	path = packages/dash
	url = git@github.com:magnars/dash.el
[submodule "packages/yasnippet"]
	path = packages/yasnippet
	url = git@github.com:capitaomorte/yasnippet
[submodule "packages/elm-mode"]
	path = packages/elm-mode
	url = git@github.com:jcollard/elm-mode
[submodule "packages/s"]
	path = packages/s
	url = git@github.com:magnars/s.el
[submodule "packages/f"]
	path = packages/f
	url = git@github.com:rejeep/f.el
[submodule "packages/auctex"]
	path = packages/auctex
	url = git@github.com:giordano/auctex
