[submodule "packages/haskell-mode"]
	path = packages/haskell-mode
	url = git://github.com/haskell/haskell-mode.git
[submodule "packages/ace-jump-mode"]
	path = packages/ace-jump-mode
	url = git://github.com/winterTTr/ace-jump-mode.git
[submodule "packages/smex"]
	path = packages/smex
	url = git://github.com/nonsequitur/smex.git
[submodule "packages/color-theme-solarized"]
	path = packages/color-theme-solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
[submodule "packages/scala-mode2"]
	path = packages/scala-mode2
	url = git://github.com/hvesalai/scala-mode2.git
[submodule "packages/idris-mode"]
	path = packages/idris-mode
	url = git://github.com/idris-hackers/idris-mode.git
[submodule "packages/tuareg"]
	path = packages/tuareg
	url = git://github.com/ocaml/tuareg.git
[submodule "packages/company-coq"]
	path = packages/company-coq
	url = git@github.com:cpitclaudel/company-coq
[submodule "packages/company"]
	path = packages/company
	url = git@github.com:company-mode/company-mode
[submodule "packages/company-math"]
	path = packages/company-math
	url = git@github.com:vspinu/company-math
[submodule "packages/math-symbol-lists"]
	path = packages/math-symbol-lists
	url = git@github.com:vspinu/math-symbol-lists
[submodule "packages/dash"]
	path = packages/dash
	url = git@github.com:magnars/dash.el
[submodule "packages/yasnippet"]
	path = packages/yasnippet
	url = git@github.com:capitaomorte/yasnippet
[submodule "packages/s"]
	path = packages/s
	url = git@github.com:magnars/s.el
[submodule "packages/f"]
	path = packages/f
	url = git@github.com:rejeep/f.el
[submodule "packages/auctex"]
	path = packages/auctex
	url = git@github.com:giordano/auctex
[submodule "packages/magit"]
	path = packages/magit
	url = git@github.com:magit/magit
[submodule "packages/with-editor"]
	path = packages/with-editor
	url = git@github.com:magit/with-editor
[submodule "packages/bbdb"]
	path = packages/bbdb
	url = git://git.savannah.nongnu.org/bbdb.git
[submodule "packages/prop-menu"]
	path = packages/prop-menu
	url = git://github.com/david-christiansen/prop-menu-el.git
[submodule "packages/w3m"]
	path = packages/w3m
	url = git://github.com/emacsorphanage/w3m.git
[submodule "packages/writegood-mode"]
	path = packages/writegood-mode
	url = git://github.com/bnbeckwith/writegood-mode.git
