[submodule "packages/haskell-mode"]
	path = packages/haskell-mode
	url = git://github.com/haskell/haskell-mode.git
[submodule "packages/god-mode"]
	path = packages/god-mode
	url = git://github.com/chrisdone/god-mode.git
[submodule "packages/ace-jump-mode"]
	path = packages/ace-jump-mode
	url = git://github.com/winterTTr/ace-jump-mode.git
[submodule "packages/undo-tree"]
	path = packages/undo-tree
	url = git://github.com/emacsmirror/undo-tree.git
[submodule "packages/smex"]
	path = packages/smex
	url = git://github.com/nonsequitur/smex.git
[submodule "packages/color-theme-solarized"]
	path = packages/color-theme-solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
[submodule "packages/scala-mode2"]
	path = packages/scala-mode2
	url = git://github.com/hvesalai/scala-mode2.git
